body {
  background-color: #3c3c3c;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e8e8e8;
  margin: 0;
}

#display {
   font-size: 48px;
   font-weight: 400;
   border: 1px solid #aeaedd;
   text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%/*whatever width you want*/;
}
